.MessageList {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.MessageList-bottom {
  position: absolute;
  bottom: 0;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.Message {
  padding-bottom: 10px;
}
