.MessageList {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
